<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Breaking Bad Suite">

    <test name="Breaking Bad API">
        <parameter name="WalterWhiteId" value="1"/>
        <classes>
            <class name="com.applaudo.breakingbad.tests.BreakingBadTest"/>
        </classes>
    </test>

</suite>